* {
    box-sizing: border-box; /*границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента */
}
html {
    scroll-behavior: smooth; /*плавная прокрутка скрола */
}
@font-face {
    font-family: 'OpenSans'; 
     src: url("assets/fonts/OpenSans.ttf");
}
body {
    font-family: 'OpenSans';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* выравнивание элементов по вертикали, column - столбец */
    justify-content: space-between; /* выравнивание элементов по главной оси, все элементы размещаются на максимальном расстоянии друг от друга, крайние прижаты к границам родителя */
}
.header {
    border: 1px solid red;
}
.main {
    border: 1px solid blue;
}
.footer {
    border: 1px solid green;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}